# Указывает, что это корневой файл конфигурации и поиск выше по директориям прекращается
root = true

# Применять настройки только для файлов с расширением .sh
[*.sh]
# Использовать табуляцию (табы) вместо пробелов
indent_style = tab
# Размер отступа равен 4 пробелам
indent_size = 4
# Ширина символа табуляции равна 4 пробелам
tab_width = 4

# Рекомендуемые дополнительные настройки для shell-скриптов:
# Использовать переводы строк в стиле Unix (LF)
end_of_line = lf
# Всегда добавлять пустую строку в конец файла
insert_final_newline = true
# Удалять пробелы и табы на концах строк
trim_trailing_whitespace = true